/* src/features/processing/processing-sketch-4.css */
.sketch-root {
  position: fixed;
  inset: 0; /* top/right/bottom/left = 0 */
  width: 100%; /* avoids the scrollbar offset from 100vw */
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  z-index: 1;
}

.loading-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    background-color: #ffffff;
    color: #111111;
    z-index: 50;
    pointer-events: none;
    font-family: "Raleway";
  }
  

.loading-overlay__text {
  color: #4b5563;
  font-size: 0.875rem;
  font-weight: 500;
  font-family: "Raleway";
}

.loader {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1;
  display: grid;
  border-radius: 50%;
  background: linear-gradient(
        0deg,
        rgb(0 0 0 / 50%) 30%,
        transparent 0 70%,
        rgb(0 0 0 / 100%) 0
      )
      50%/8% 100%,
    linear-gradient(
        90deg,
        rgb(0 0 0 / 25%) 30%,
        transparent 0 70%,
        rgb(0 0 0 / 75%) 0
      )
      50%/100% 8%;
  background-repeat: no-repeat;
  animation: l23 1s infinite steps(12);
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1 / 1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.loader::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes l23 {
  100% {
    transform: rotate(1turn);
  }
}
